@model IEnumerable<TestAddressBook.Models.Consumer>

@{
    ViewBag.Title = "Consumer list";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="customers" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelephoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Print", "Print", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-default" id="print-btn">Print list</button>

@using (Html.BeginForm("PrintList", "Home", FormMethod.Post, new { id = "print-tab", style = "display:none;" }))
{
    @Html.AntiForgeryToken()
}

@section scripts{
    <script>
        $(document).ready(function () {

            // Definition of DataTable consumers
            var table = $('#customers').DataTable({
                "processing": true,
                "paging": true,
                "deferRender": true,
                "language": {
                    "sEmptyTable": "No data available in table",
                    "sInfo": "Showing _START_ to _END_ of _TOTAL_ customers",
                    "sInfoEmpty": "Showing 0 to 0 of 0 customers",
                    "sInfoFiltered": "(filtered from _MAX_ total customers)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Show _MENU_ customers",
                    "sLoadingRecords": "Loading...",
                    "sProcessing": "Processing...",
                    "sSearch": "Search:",
                    "sZeroRecords": "No matching records found",
                    "oPaginate": {
                        "sFirst": "First",
                        "sLast": "Last",
                        "sNext": "Next",
                        "sPrevious": "Previous"
                    }
                },
                "columnDefs": [
                    { "targets": [4], "orderable": false }],
                "aaSorting": [[1, "asc"]]
            });

            // Open details on table row click
            $('#customers tbody').on('click', 'tr', function () {
                var  data = $(this).data('id');
                window.location = '@Url.Action("Details", "Home", new { id = "---" })'.replace("---", data);

            });

            // Search in consumers action
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });

            // Print button action
            $('#print-btn').on('click', function (e) {
                var form = $('#print-tab');
                $("#print-tab input[name='ids[]'").remove();
                var elementList = $('#customers tbody>tr');
                if (elementList.length) {
                    elementList.each(function (index, item) {
                        form.append('<input type="hidden" name="ids[]" value="' + $(item).data('id') + '">');
                    });
                }
                form.submit();
            });
        });
    </script>
}
